/*Estilo imagen de fondo*/
#logos {
    margin-left: 300px;
}

/*Estilos enlaces*/
#p7_nav {
    background-color: rgb(214, 175, 220);
}

#p7_nav ul {
    display: inline-flex;
}

#p7_nav li {
    padding: 15px;
    list-style: none;
}

#inicio:hover {
    background-color: blue;
}

#p7_nav a {
    color: white;
    font-size: 22px;
}

.footer_nombre {
    font-size: small;
    border: 2px solid rgb(201, 132, 212);
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 78px;
    border-radius: 50px;
    background-color: white;
    text-align: center;
}